@media (max-width: 375px) {
  .container-form {
    padding: 20px 25px;
  }
  h1 {
    font-size: 1.5rem;
  }

  .first-Last {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .choice-checkbox {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  input {
    padding: 10px;
    margin-top: 10px;
  }
}
