/*CSS Reset*/
h1,
p,
body {
  margin: 0px;
}

body {
  font-family: Arial;
  font-weight: 500;
  background-color: hsl(148, 38%, 91%);
  height: 800px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.container-form {
  background-color: hsl(0, 0%, 100%);
  padding: 36px;
  border-radius: 10px;
  display: grid;
  gap: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.first-line {
  display: flex;
  gap: 15px;
}

#Email {
  width: 100%;
  box-sizing: border-box;
}

.choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  gap: 20px;
}

.choice-checkbox {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

input[type="radio"] {
  vertical-align: middle; /* Alinha o radio button ao meio do texto */
  margin: 0;
}
